<form [formGroup]="form"  (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{title}} User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <!-- <mat-form-field class="full-width"> -->
            <!-- <input matInput placeholder="Photo profile" formControlName="photo_profile" type="file"> -->
            <!-- <button type="button" mat-raised-button color="warn"  md-button (click)="imgFileInput.click()">Add a photo</button> -->
            <input type="file" formControlName="photo_profile" (change)="previewImage($event.target.files)" style="margin: 20px 0;"/>          
          <!-- </mat-form-field> -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="form.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="form.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="mail@mail.com" formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="+62xxxx" formControlName="phone">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city">
            <!-- <mat-error *ngIf="form.controls['city'].hasError('required')">
              City is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Country" formControlName="country">
            <!-- <mat-error *ngIf="form.controls['state'].hasError('required')">
              State is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <!-- <input matInput  maxlength="5" placeholder="Postal Code" type="number" formControlName="postalCode"> -->
            <mat-select formControlName="company" placeholder="Company" >
              <mat-option>-</mat-option>
              <mat-option  *ngFor="let data of dataCompany" [value]="data.id">{{data.company_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
