<div style="text-align: center;">
    <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>
      <table>
          <tr>
              <td>Name</td>
              <td>:</td>
              <td>{{data.firstName + ' ' + data.lastName}}</td>
          </tr>
          <tr>
              <td>Email</td>
              <td>:</td>
              <td>{{data.email}}</td>
          </tr>
          <tr>
              <td>Phone</td>
              <td>:</td>
              <td>{{data.phone}}</td>
          </tr>
          <tr>
              <td>Country</td>
              <td>:</td>
              <td>{{data.country}}</td>
          </tr>
          <tr>
              <td>Tgl Input</td>
              <td>:</td>
              <td>{{data.tgl_input}}</td>
          </tr>
          <tr>
              <td>Tgl Update</td>
              <td>:</td>
              <td>{{data.tgl_update}}</td>
          </tr>
      </table>
    </div>
    </div>